<div class="container mt-2">
    <section name="addtask" class="card">
        <div class="card-header">
            <h4 class="card-title">Edit Task</h4>
        </div>

        <div class="card-body" *ngIf="task">
            <form #f="ngForm">
                <div class="mb-2 input-group">
                    <h6 class="col-1 col-md-2 col-sm-3 mt-2">Task: </h6>
                    <input type="text" name="taskname" class="form-control col-4 col-md-5 col-sm-6 rounded"
                        placeholder="Provide Task Name" required [(ngModel)]="task.Name" #taskname="ngModel"
                        [class.is-invalid]="taskname.invalid && taskname.touched"
                        [class.is-valid]="taskname.valid && taskname.touched">
                    <small [class.d-none]="taskname.valid || taskname.untouched" class="text-danger ml-2 mt-2">
                        Task name is required
                    </small>
                </div>

                <div class="mb-2 input-group">
                    <h6 class="col-1 col-md-2 col-sm-3">Priority: </h6>
                    <input type="range" name="priority" class="form-control custom-range col-4 col-md-5 col-sm-6"
                        [(ngModel)]="task.Priority" min="0" max="30" value="0" step="1">
                </div>

                <div class="mb-2 input-group">
                    <h6 class="col-1 col-md-2 col-sm-3 mt-2">Parent Task: </h6>
                    <select name="parent" class="form-control col-4 col-md-5 col-sm-6" [(ngModel)]="task.Parent"
                        [compareWith]="compare">
                        <option [ngValue]="defaultParent">Select any Parent Task</option>
                        <option *ngFor="let parenttask of parentTasks" [ngValue]="parenttask">
                            {{ parenttask.Name }}
                        </option>
                    </select>
                </div>

                <div class="mb-2 input-group">
                    <h6 class="col-1 col-md-2 col-sm-3 mt-2">Start Date: </h6>
                    <input type="date" class="form-control col-4 col-md-5 col-sm-6 rounded"
                        placeholder="Provide Start Date" name="startdate"
                        [ngModel]="task.StartDate | date: 'yyyy-MM-dd'" (ngModelChange)="task.StartDate = $event"
                        #startdate="ngModel" [class.is-invalid]="startdate.invalid && startdate.touched"
                        [class.is-valid]="startdate.valid && startdate.touched" appStartdateValidator>
                    <div class="text-danger ml-2 mt-2" *ngIf="startdate.invalid && startdate.touched">
                        <small *ngIf="startdate.errors['required']">
                            Start Date is required
                        </small>
                        <small *ngIf="startdate.errors['invalid-start']">
                            Start Date should be greater than or equal to Today
                        </small>
                    </div>
                </div>

                <div class="mb-2 input-group">
                    <h6 class="col-1 col-md-2 col-sm-3 mt-2">End Date: </h6>
                    <input type="date" class="form-control col-4 col-md-5 col-sm-6 rounded"
                        placeholder="Provide End Date" name="enddate" [ngModel]="task.EndDate | date: 'yyyy-MM-dd'"
                        (ngModelChange)="task.EndDate = $event" #enddate="ngModel"
                        [class.is-invalid]="enddate.invalid && enddate.touched"
                        [class.is-valid]="enddate.valid && enddate.touched" appDateValidator="startdate">
                    <div class="text-danger ml-2 mt-2" *ngIf="enddate.invalid && enddate.touched">
                        <small *ngIf="enddate.errors['required']">
                            End Date is required
                        </small>
                        <small *ngIf="enddate.errors['invalid-start']">
                            End Date should be greater than or equal to Today/Start Date
                        </small>
                        <small *ngIf="enddate.errors['invalid-date']">
                            End Date should be greater than or equal to Start Date
                        </small>
                    </div>
                </div>

                <div class="input-group">
                    <span class="col-1 col-md-2 col-sm-3"></span>
                    <input type="button" value="Update Task" class="btn btn-success" (click)="updateTask()"
                        routerLink='/view' [disabled]="taskname.invalid || startdate.invalid || enddate.invalid">
                    <input type="button" value="Cancel" class="ml-2 btn btn-primary" routerLink='/view'>
                </div>
            </form>
        </div>
    </section>
</div>