<section name="viewtask" class="mt-2">
    <section name="search" class="card">
        <div class="card-body">
            <div class="input-group mb-2">
                <div class="col-6 col-md-6 col-sm-6">
                    <h6>Task:</h6>
                    <input id="taskname" [(ngModel)]="taskName" type="text" 
                        placeholder="Task Name" class="form-control">
                </div>
                <div class="col-6 col-md-6 col-sm-6">
                    <h6>Parent Task:</h6>
                    <input id="parenttaskname" [(ngModel)]="parentTaskName" type="text" 
                        placeholder="Parent Task Name" class="form-control">
                </div>
            </div>
            <div class="input-group">
                <div class="col-3 col-md-3 col-sm-3">
                    <h6>Priority From:</h6>
                    <input id="frompriority" [(ngModel)]="priorityFrom" type="number" 
                        placeholder="Priority" class="form-control"
                        min="0" max="30">
                </div>

                <div class="col-3 col-md-3 col-sm-3">
                    <h6>Priority To:</h6>
                    <input id="topriority" [(ngModel)]="priorityTo" type="number" 
                        placeholder="Priority" class="form-control"
                        min="0" max="30">
                </div>

                <div class="col-3 col-md-3 col-sm-3">
                    <h6>Start Date:</h6>
                    <input id="fromdate" [(ngModel)]="startDate" type="date" 
                        placeholder="Start Date" class="form-control">
                </div>

                <div class="col-3 col-md-3 col-sm-3">
                    <h6>End Date:</h6>
                    <input id="enddate" [(ngModel)]="endDate" type="date" 
                        placeholder="End Date" class="form-control">
                </div>
            </div>
        </div>
    </section>
    <section name="view" class="mt-3">
        <div class="table">
            <div class="card" *ngFor="let task of tasks | search : taskName : parentTaskName : priorityFrom : priorityTo : startDate : endDate">
                <div class="row p-1">
                    <div class="ml-2 col-2 col-md-2 col-sm-2">
                        <h6>Task</h6>
                        <div class="rounded bg-secondary p-2 text-light text-center">{{ task.Name }}</div>                        
                    </div>
                    <div class="col-2 col-md-2 col-sm-2">
                        <h6>Parent Task</h6>
                        <div class="rounded bg-secondary p-2 text-light text-center" *ngIf="task.Parent; else noparent">{{task.Parent.Name}}</div>
                        <ng-template #noparent>
                            <div class="rounded bg-secondary p-2 text-light text-center">
                                NO Parent
                            </div>
                        </ng-template>
                    </div>
                    <div class="mr-5">
                        <h6>Priority</h6>
                        <span class="badge badge-pill badge-info text-center">{{ task.Priority }}</span>                        
                    </div>
                    <div class="mr-4">
                        <h6>Start Date</h6>
                        {{ task.StartDate | date:'dd/MM/yyyy' }}
                    </div>
                    <div class="mr-4">
                        <h6>End Date</h6>
                        {{ task.EndDate | date:'dd/MM/yyyy' }}
                    </div>
                    <div class="mr-2">
                        <input type="button" value="Edit Task"
                            [disabled]="task.Status==true"
                            class="mt-3 btn btn-primary">
                    </div>
                    <div class="mr-2">
                        <input type="button" value="End Task"
                            [disabled]="task.Status==true"
                            class="mt-3 btn btn-success" (click)="endTask(task.Id)">
                    </div>
                    <div class="mr-2">
                        <input type="button" value="Delete Task" 
                            class="mt-3 btn btn-danger" (click)="deleteTask(task.Id)">
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>